.logo {
  display: flex;
  height: 80px;
  align-items: center;
  padding: 2rem;
  color: var(--secondary-color);
}

.logo span {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1.4rem;
}

main {
  left: 300px;
  position: absolute;
  padding: 1.5rem 3rem;
  width: calc(100% - 300px);
}

.main {

}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background: var(--sidebar-color);
}

.sidebarMenu {

}

.menuLinks {
  padding: 1rem;
}

.navLink {
  padding: 1rem 0.5rem;
}

.navLink a {
  display: flex;
  align-items: center;
}

.navLink:has(> a.active) {
  background-color: var(--primary-color-light);
  border-radius: 5px;
  transition: var(--trans-02);
}

.toggle {
  position: absolute;
  right: -12px;
  width: 25px;
  display: flex;
  height: 25px;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  border-radius: 50%;
  top: 25px;
}


/* .navLink:hover {
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: var(--trans-02);
} */
